---
name: Salt Extension Python Package

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build:
    name: Build Python Packages (wheel and sdist)
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Python 3.10
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: "3.10"

      - name: Install build tools
        run: >-
          python -m
          pip install
          build
          --user

      - name: Echo Version
        run: echo "${{ inputs.version }}"

      - name: Build Wheel
        run: |
          # The version of our PyPA publish action (specifically the twine version used in it)
          # does not support Core Metadata 2.4, which was introduced in setuptools release 77.
          # We cannot upgrade it until the release workflow has been refactored into standalone one.
          echo "setuptools<77" > "$RUNNER_TEMP/build-constraints.txt"
          PIP_CONSTRAINT="$RUNNER_TEMP/build-constraints.txt" python -m build --outdir dist/

      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        if: always()
        with:
          name: salt-extension-${{ inputs.version }}-packages
          path: dist/*
          retention-days: 5

      - name: Set Exit Status
        if: always()
        run: |
          mkdir exitstatus
          echo "${{ job.status }}" > exitstatus/${{ github.job }}

      - name: Upload Exit Status
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: exitstatus-${{ github.job }}
          path: exitstatus
          if-no-files-found: error
